@font-face {
    font-family: 'Minecraft';
    src: url('/fonts/Minecraft.woff2') format('woff2'),
        url('/fonts/Minecraft.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
body {
    background: url(/images/back3.png) repeat;
    min-height: 100vh;
}

.intro {
    font-family: 'Minecraft', sans-serif;
    text-align: center;
    color: rgb(255, 153, 0);
    text-shadow: rgb(119, 0, 255) 3px 3px;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#window { 
    background-image: url("images/background.png");
    width: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 40px solid transparent;
    border-image: url("images/border.png") 46 round;
    font-family: 'Minecraft', sans-serif;
    text-align: center;
    color: rgb(255, 251, 0);
    text-shadow: rgb(119, 0, 255) 3px 3px;
}

#window2 { 
    background-image: url("images/backstar.gif");
    width: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 40px solid transparent;
    border-image: url("images/border.png") 46 round;
    font-family: 'Minecraft', sans-serif;
    text-align: center;
    color: rgb(255, 251, 0);
    text-shadow: rgb(119, 0, 255) 3px 3px;
}

.pronouns {
    color: aqua;
}

a:link {
    color: rgb(60, 255, 0);
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: rgb(60, 255, 0);
    background-color: transparent;
    text-decoration: none;
}

.line-through {
    text-decoration: line-through;
  }
  