@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@500&display=swap');
@font-face {
    font-family: 'Keep on Truckin';
    src: url('/fonts/KeeponTruckin.woff2') format('woff2'),
        url('/fonts/KeeponTruckin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body {
    text-align: center;
    background-image: linear-gradient(#4040ce, #00003c);
    background-repeat: no-repeat;
    overflow-x: hidden;
    min-height: 100vh;
}
#start {
    font-family: 'Keep on Truckin', sans-serif;
    font-size: 160%;
    color: yellow;
}
#punkt {
    font-family: 'Pixelify Sans', sans-serif;
    color: rgb(0, 255, 21);
}
.pic {
    transition: transform .7s ease-in-out;
    width: 50px;
}
.pic:hover {
    transform: rotate(360deg);
}

#counter {
    background-color: black;
    color: yellow;
}

#badges {
    color: yellow;
    font-family: 'Keep on Truckin', sans-serif;
    font-size: 160%;
}

* {
    scrollbar-color: #0003cd #000020;
}

::-webkit-scrollbar {
    background: #000020;
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #000020;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(rgba(0,86,255,1) 100%, rgba(144,23,218,1) 100%);;
    border-radius: 10px;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 10px 5px 25px 5px;
}
li {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
    font-weight: bold;
}

.player {
    width: 100px;
    padding: 15px;
    background-color: #472c72;
    background-image: url(/images/circuit_trans.png);
    border-radius: 10px;
    text-align: center;
    color: yellow;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit; /* Ensures it follows the same border-radius */
    background: radial-gradient(circle, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.5) 100%);
    pointer-events: none; /* Ensures it does not interfere with interactions */
}


.track-container {
    background-image: url(/images/screen.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    width: 90%;
    height: 50px;
    margin-bottom: 10px;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    align-items: center;
    position: relative;
}
.track-name {
    color: black;
    font-weight: bold;
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    animation: scrollText 5s linear infinite;
    font-family: 'Pixelify Sans', sans-serif;
}
@keyframes scrollText {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}
.sliders {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: auto;
}
.slider {
    width: 100px;
    height: 8px;
    -webkit-appearance: none;
    background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
    border-radius: 5px;
    outline: none;
    opacity: 0.9;
    transition: opacity 0.2s;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 18px;
    border: 0;
    background: url('/images/star.png');
    cursor: pointer;
  }
  
.slider::-moz-range-thumb {
    width: 20px;
    height: 18px;
    border: 0;
    background: url('/images/star.png');
    cursor: pointer;
}
.controls {
    margin-top: 10px;
    display: flex;
    gap: 5px;
}
button {
    background-color: yellow;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}